* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/backgroundtdld.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.canvasContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    /* Ensures no interference with page interactions */
    z-index: -1;
    /* Places canvas behind other content */
}